{% extends 'layouts/admin-lte-backend.html.twig' %}

{% block content_header %}
    <h1>Change password<small>Change your current password to a new one</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('admin_dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-user"></i> User</a></li>
        <li class="active"><i class="fa fa-edit"></i> Change password</li>
    </ol>
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">Change password</h3>
        </div>
        <div class="box-body">
            {{ form_row(form.oldPlainPassword) }}
            {{ form_row(form.plainPassword) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        {{ form_row(form.update, {'attr': {'class': 'btn-primary btn-flat'}}) }}
        {{ form_end(form) }}
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}
