{% extends 'layouts/admin-lte-backend.html.twig' %}

{% block content_header %}
    <h1>Edit profile<small>Edit the selected user profile</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('admin_dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-user"></i> User</a></li>
        <li class="active"><i class="fa fa-edit"></i> Edit</li>
    </ol>
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3 class="box-title">Edit</h3>
        </div>
        <div class="box-body">
            {{ form_row(form.firstName) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        {{ form_row(form.save, {'label': 'Save profile', 'attr': {'class': 'btn-primary btn-flat'}}) }}
        {{ form_end(form) }}
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}
