{% extends 'layouts/admin-lte.html.twig' %}

{% block title 'Register' %}

{% block body_class 'hold-transition register-page' %}

{% block body %}
<div class="register-box">
    <div class="register-logo">
        <a href="{{ url('home') }}"><strong>Register an account</strong></a>
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="register-box-body">
        {{ form_start(form) }}
            {{ form_row(form, {'label': false}) }}
        {{ form_end(form) }}
        <a href="{{ path('security_login') }}" class="text-center">I already have an account</a>
    </div>
</div>
<!-- /.register-box -->
{% endblock %}
