{% extends 'layouts/admin-lte.html.twig' %}

{% block title 'Register' %}

{% block body_class 'hold-transition register-page' %}

{% block body %}
<div class="register-box">
    <div class="register-logo">
        <a href="{{ url('home') }}"><strong>Register an account</strong></a>
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="register-box-body">
        {{ form_start(form) }}
            {{ form_row(form.firstName, {'label': false, 'attr': {'placeholder': 'First Name'}}) }}
            {{ form_row(form.surname, {'label': false, 'attr': {'placeholder': 'Surname'}}) }}
            {{ form_row(form.email, {'label': false, 'attr': {'placeholder': 'Email Address'}}) }}
            {{ form_row(form.username, {'label': false, 'attr': {'placeholder': 'Username'}}) }}
            {{ form_row(form.plainPassword.first, {'label': false, 'attr': {'placeholder': 'Password'}}) }}
            {{ form_row(form.plainPassword.second, {'label': false, 'attr': {'placeholder': 'Repeat Password'}}) }}
            {{ form_row(form.save, {'label': 'Register', 'attr': {'class': 'btn-primary btn-block btn-flat'}}) }}
        {{ form_end(form) }}
        <a href="{{ url('security_login') }}" class="text-center">I already have an account</a>
    </div>
</div>
<!-- /.register-box -->
{% endblock %}
