{% if pager.maxPages > 1 %}
<ul class="pagination">
    {# `«` arrow  #}
    <li {{ pager.page == 1 ? 'class="disabled"' }}>
        <a href="{{ url(route, {page: pager.page - 1 < 1 ? 1 : pager.page - 1}) }}">&laquo; Previous</a>
    </li>

    {# Render each page number #}
    {% for i in 1..pager.maxPages %}
        <li {{ pager.page == i ? 'class="active"' }}>
            <a href="{{ url(route, {page: i}) }}">{{ i }}</a>
        </li>
    {% endfor %}

    {# `»` arrow #}
    <li {{ pager.page == pager.maxPages ? 'class="disabled"' }}>
        <a href="{{ url(route, {page: pager.page + 1 <= pager.maxPages ? pager.page + 1 : pager.page}) }}">Next &raquo;</a>
    </li>
</ul>
{% endif %}
