<div class="wrapper">
    <a href="{{ path('app_home') }}" class="logo">robmeijer<span>.co.uk</span></a>
    <nav class="navigation" data-type="footer">
        <ul class="navigation-list">
            <li><a aria-label="github" href="https://github.com/robmeijer"
                   target="_blank"
                   rel="noopener noreferrer nofollow">
                    <svg class="social-icon">
                        <use href="{{ asset('images/social-icons.svg') }}#icon-github"/>
                    </svg>
                </a></li>
            <li><a aria-label="bluesky" href="https://bsky.app/profile/robmeijer.dev"
                   target="_blank"
                   rel="noopener noreferrer nofollow">
                    <svg class="social-icon">
                        <use href="{{ asset('images/social-icons.svg') }}#icon-bluesky"/>
                    </svg>
                </a></li>
            <li><a aria-label="linkedin" href="https://www.linkedin.com/in/robmeijerdev/"
                   target="_blank"
                   rel="noopener noreferrer nofollow">
                    <svg class="social-icon">
                        <use href="{{ asset('images/social-icons.svg') }}#icon-linkedin"/>
                    </svg>
                </a></li>
        </ul>
    </nav>
    <div class="about">
        <span>Half South-African, half Dutch, all geek.</span>&nbsp;<span>Converts caffeine into code.</span>
    </div>
    <div class="copyright">
        <span>Copyright &copy; 2023-{{ 'now'|date('Y') }} Rob Meijer.</span>&nbsp;<span>All rights reserved.</span>
    </div>
</div>
