{% extends 'layouts/admin-lte-backend.html.twig' %}

{% block title 'Admin - Settings - General' %}

{% block content_header %}
    <h1>General<small>General settings</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('admin_dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ url('admin_settings_general') }}"><i class="fa fa-cog"></i> Settings</a></li>
        <li class="active"><i class="fa fa-sliders"></i> General</li>
    </ol>
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_row(form.home) }}
                </div>
                <div class="box-footer">
                    {{ form_row(form.submit, {'label': 'Save'}) }}
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}
