{% extends 'layouts/admin-lte-backend.html.twig' %}

{% block title 'Admin - Page' %}

{% block content_header %}
    <h1>Page<small>Edit the selected page</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url('admin_dashboard_index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ url('admin_page_index') }}"><i class="fa fa-files-o"></i> Pages</a></li>
        <li class="active"><i class="fa fa-edit"></i> Edit</li>
    </ol>
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.content) }}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    {{ form_row(form.submit, {'label': 'Update Page'}) }}
                </div>
                {{ form_end(form) }}
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}
